
    
#div_1{
    font-family: 'Akaya Telivigala', cursive ;
    background-color: #789395;
    margin-top: 0;
    box-shadow: 4px 7px #C8E5E7;
    
    
    


}
.main_div{
font-family: 'Mochiy Pop P One', cursive;
}
.copy_right_footer{
    position: fixed;
    bottom:0;
    
    font-family: 'Inspiration';
    font-size: 30px;
    
    
    background-color: #C8E5E7;
    text-shadow: 4px 7px 7px #789395;
    width: 100%;
    
}
#img1 {
    height: 300px;
    width: 300px;
}


