body{
    
}
    
#div_1{
    font-family: 'Akaya Telivigala', cursive ;
    background-color: #789395;
    margin-top: 0;
    box-shadow: 4px 7px #C8E5E7;
    
    
    


}
.main_div{
font-family: 'Mochiy Pop P One', cursive;
}
.copy_right_footer{
    text-align: center;
    font-family: 'Inspiration';
    font-size: 30px;
    margin-top: 10;
    margin-left: 20;
    background-color: #C8E5E7;
    box-shadow: 4px 7px #789395;
    width: 500px;
    
}


